body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #053C5E;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.mesa-selection {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesa-selection label {
    margin-right: 10px;
}

.mesa-selection select, .mesa-selection button {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.mesa-selection button {
    background: #A31621;
    color: #fff;
    border: none;
    cursor: pointer;
}

.mesa-selection button:hover {
    background: #DB222A;
}

.main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.menu, .order {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%;
}

.menu h2, .order h2 {
    color: #053C5E;
}

.menu-item, .order-item {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

button {
    background: #A31621;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #DB222A;
}

.order-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.order-actions button {
    flex: 1;
    margin: 0 0.5rem;
}

.mesa-info {
    margin-top: 1rem;
    font-size: 1rem;
    color: #053C5E;
    font-weight: bold;
}
